<section>

   
    <div class="left-side">
        <div class="my-image-container">
            <img src="assets/img/mypicture.jpg" alt="">
            <img class="back-line" src="assets/img/background-line.png" alt="">
        </div>
    </div>
    <div class="right-seide">
        <app-box-content title="Who am I" header="About Me">
            Hi, I'm a Frontend Developer based in Grevenbroich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.
            <div class="about-me-details-container">

                <div class="about-me-details">
                <div class="icon"><img src="assets/img/About-me-Highlights-icons.svg" alt=""></div>
                <div class="description" >
                    <span>
                        Based in Grevenbroich, I am available to work efficiently on-site in Düsseldorf and Cologne, as well as remotely.
                    </span>
                </div>
                </div>
    
                <div class="about-me-details">
                    <div class="icon"><img src="assets/img/About-me-mind-Highlights-icons.svg" alt=""></div>
                    <div class="description" >
                        <span>
                            I am open-minded and constantly challenge myself in my personal and professional projects to further improve my knowledge and skills.
                        </span>                  
                    </div>
                </div>
    
                <div class="about-me-details">
                    <div class="icon"><img src="assets/img/About-me-Highlights-icons(2).svg" alt=""></div>
                    <div class="description" >
                        <span>
                            To me, programming is more than just writing code. It involves understanding real-world needs and transforming them into technical solutions. I take great pride in creatively and elegantly solving problems, which enhances usability and user experience, ultimately driving the success of each project.
                        </span>                   
                    </div>
                </div>
    
                
            </div>
        </app-box-content>
       
    </div>
</section>
<!-- <div class="main-content">
 <div class="content">
    <div>
        <div class="shadow"></div>
        <img src="assets/img/mypicture.png" alt="">
    </div>
    <div></div>
 </div>
</div> -->