<section id="aboutscroll">

   
    <div class="left-side">
        <div class="my-image-container">
            <img src="assets/img/mypicture.jpg" alt="">
            <img class="back-line" src="assets/img/background-line.png" alt="">
        </div>
    </div>
    <div class="right-seide">
        <app-box-content title="{{'WHO_AM_I'| translate }}" header="{{'ABOUT_ME_HEADER'| translate }}">
            {{ 'ABOUT_ME_DESCRIPTION' | translate }}
            
            <div class="about-me-details-container">

                <div class="about-me-details">
                <div class="icon"><img src="assets/img/About-me-Highlights-icons.svg" alt=""></div>
                <div class="description" >
                    <span>
                        {{ 'ABOUT_ME_LOCATION' | translate }}
                       
                    </span>
                </div>
                </div>
    
                <div class="about-me-details">
                    <div class="icon"><img src="assets/img/About-me-mind-Highlights-icons.svg" alt=""></div>
                    <div class="description" >
                        <span>
                            {{ 'ABOUT_ME_OPEN_MIND' | translate }}
                           
                        </span>                  
                    </div>
                </div>
    
                <div class="about-me-details">
                    <div class="icon"><img src="assets/img/About-me-Highlights-icons(2).svg" alt=""></div>
                    <div class="description" >
                        <span>
                            {{ 'ABOUT_ME_CREATIVE_SOLUTIONS' | translate }}
                            
                        </span>                   
                    </div>
                </div>
    
                
            </div>
        </app-box-content>
       
    </div>
</section>
<!-- <div class="main-content">
 <div class="content">
    <div>
        <div class="shadow"></div>
        <img src="assets/img/mypicture.png" alt="">
    </div>
    <div></div>
 </div>
</div> -->