<section>

   
    <div class="left-side">
        <img src="assets/img/mypicture.png" alt="">
        <img class="back-line" src="assets/img/background-line.png" alt="">
    </div>
    <div class="right-seide">
        <app-box-content title="Who am I" header="About Me">
            Hi, Im a german speaking Frontend Developer based in Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.
        </app-box-content>
    </div>
</section>
