<footer>
    <div class="main-contect">
        <div class="content">
            <div class="left">
                <a href=""><img src="assets/img/mylogo.png" alt=""></a>
                <span>Frontend Developer</span>
                <span>Grevenbroich, Germany</span>
            </div>
            <div class="mitte">© Batool Zamani</div>
            <div class="right">
                <a href="https://github.com/BatoolZamani/" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/batoolzamani/" target="_blank">LinkedIn</a>
                <a href="mailto:batool.zamani@gmail.com" >E-Mail</a>
                <a href="/imprint">Imprint</a>
                <!-- <a routerLink="privacy-policy" routerLinkActive="router-link-active" >Privacy Policy</a>-->
                <a href="/privacy-policy" routerLinkActive="router-link-active" >Privacy Policy</a> 
            </div>
            
        </div>
        <div class="my-name-responsive">© Batool Zamani</div>
    </div>
</footer>
