<footer>
    <div class="main-contect">
        <div class="content">
            <div class="left">
                <a href=""><img src="assets/img/logo.png" alt=""></a>
                <span>Frontend Developer</span>
                <span>Grevenbroich, Germany</span>
            </div>
            <div class="mitte">© Batool Zamani</div>
            <div class="right">
                <a href="">GitHub</a>
                <a href="">LinkedIn</a>
                <a href="">E-Mail</a>
                <a href="">Imprint</a>
                <a href="">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
