<section id="skillsscroll">

   
    <div class="left-side">
        <app-box-content title="{{'TECNOLOGIES'| translate }}" header="{{'SKILL_HEADER'| translate }}">
            {{'SKILL_DESCRIPTION'| translate }}
           
        <div class="second-title-skills">
              {{'YOU_NEED'| translate }}<span>{{'ANOTHER_SKILL'| translate }}</span>
        </div>
        <div class="description-skills">
            {{'CONTACT_INVITE'| translate }}           
        </div>
        <div class="button-position">
            <button><span>{{'SKILL_LETS_TALK'| translate }} </span></button>            
        </div>
        </app-box-content>
    </div>
    <div class="right-seide">
        @for (skill of skills; track $index) {
            <div class="skill-position">
                <img src="{{skill.image}}" alt="image of {{skill.title}}">
                <span>{{skill.title}}</span>
            </div>
        }
       
    </div>
   
</section>

