<section>

   
    <div class="left-side">
        <app-box-content title="Technologies" header="Skill Set">
            My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development
        <div class="second-title-skills">
            You need <span>another skill?</span>
        </div>
        <div class="description-skills">
            Feel free to contact me. I look forward to expanding on my previous knowledge.
        </div>
        <div class="button-position">
            <button><span>Let's Talk</span></button>
            
        </div>
        </app-box-content>
    </div>
    <div class="right-seide">
        @for (skill of skills; track $index) {
            <div class="skill-position">
                <img src="{{skill.image}}" alt="image of {{skill.title}}">
                <span>{{skill.title}}</span>
            </div>
        }
       
    </div>
   
</section>

