

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
    padding-left: 96px;
    padding-right: 96px;
    
    
}

.left-side {
    width: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    .second-title-skills{
        padding-top: 32px;
        display: flex;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Fira Code', monospace;


        .right-seide .skill-position span {
            display: inline-block;
            white-space: pre-line; /* Erlaubt Umbrüche nach Leerzeichen */
            text-align: center;
            color: aquamarine;
           padding-left: 5px;
           font-size: 24px;
           
        }
       
    }
    .description-skills{
        padding-top: 16px;
        padding-bottom: 40px;
    }
    
}



.right-seide {
   
    display: flex;
    width: 50%;
    // padding-top: 242px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    font-weight: 400;
    gap: 72px;
    overflow-wrap: normal;
    flex-wrap: wrap;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(104px, 100%), 1fr));
    justify-items: center;
    gap: 40px;
    
    
    .skill-position{
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
        width: 64px;
        text-align: center;
        
        span{
            display: flex;
            justify-content: center;
            font-family: 'Fira Code', monospace;
            font-size: 18px;
            margin-top: 10px;
        }
    }
    img{
        width: 64px;
        height: 64px;
    }
    img:hover{
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        transform: scale(1.10); 
    }
}

@media (max-width:900px) {
    section {
      
        flex-direction: column;
        padding-left: 26px;
        padding-right: 26px;
      
        
    }
    .left-side {
        width: 100%;    
        
    }
    .right-seide {
   
        
        width: 99%;
        display: flex;
        gap: 60px;
        /* padding: 10%; */
        justify-content: center;
        /* align-content: center; */
    
        
}}


