<div class="modal-wrapper" id="modal" [class.open-project]="projectModalValue">
    <div class="modal">
        <div class="modal-body">
            <div class="left">
                <div class="number">{{ number }}</div>
                <div class="projects-name">{{ title }}</div>
                <div class="title-question">What is this project about?</div>
                <div class="description">
                   {{description}}
                </div>

               
                <div class="skills">
                    @for (skill of skills; track $index) {
                        <div class="skill-item">
                            @switch (skill) {
                                @case ('HTML') {
                                    <img src="assets/img/Iconshtml5.svg" alt="HTML">
                                }
                                @case ('CSS') {
                                    <img src="assets/img/Icons-css.svg" alt="CSS">
                                }
                                @case ('Firebase') {
                                    <img src="assets/img/Firebase.svg" alt="Firebase">
                                }
                                @case ('ReST-API') {
                                    <img src="assets/img/REST-API.svg" alt="ReST API">
                                }
                                @case ('JavaScript') {
                                    <img src="assets/img/Iconsjs.svg" alt="JavaScript">
                                }

                            }
                           
                            <span>{{ skill }}</span>
                        </div>
                    }
                </div>

                <div class="button-position">
                    <button *ngIf="githubLink" (click)="openExternalLink(githubLink)">
                        <span>GitHub</span>
                        <img src="assets/img/arrow_outward.svg" alt="">
                      </button>
                    <button><span>Live Test</span><img src="assets/img/arrow_outward.svg" alt=""></button>
                </div>
            </div>
            <div class="right">
                <div class="close" (click)="toggleMenu()">
                    <img src="assets/img/closeButton.svg" alt="">
                </div>
                <img src="{{ imageUrl }}" alt="" class="project-image">
                <div class="next-project" (click)="onNextProjectClick()">
                    Next Project <img src="assets/img/arrows.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</div>