$green: #3DCFB6;

body {
  background-color: #292929;
  font-family: 'Fira', sans-serif;
}
.modal-wrapper{
    display: block;
}
.button-position {
  display: flex;
  flex-direction: row;
  gap: 48px;

  button {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    font-family: 'Karla', monospace;
    font-size: 18px;
    padding: 15px;
    height: 48px;
    position: relative;
    overflow: hidden;

    span {
      display: inline-block;
      position: relative;
      transform: none;
    }

    &:hover span {
      transform: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-wrapper {
  display: block;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    height: 70vh;
    background: linear-gradient(275deg, #002920, #001310);
    margin: 40px;
    border-radius: 30px;
    gap: 40px;
    border: 1px solid #3dcfb6;
    max-width: 100%;
    max-height: 100vh;
  
  .left {
    width: 40%;

    .number {
      color: #3dcfb6;
      font-size: 128px;
      font-weight: 700;
    }

    .projects-name {
      color: white;
      font-size: 64px;
      font-family: 'Fira', sans-serif;
      padding-top: 20px;
    }

    .title-question {
      font-size: 24px;
      color: #3dcfb6;
      font-family: 'Fira', sans-serif;
      font-weight: 700;
      padding-top: 20px;
    }

    .description {
      font-size: 18px;
      color: white;
      font-weight: 400;
      font-family: 'Karla', monospace;
      padding-top: 20px;
      text-align: justify;
    }

    .skills {
      padding-top: 34px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      padding-top: 30px;

      span {
        display: inline-block;
        position: relative;
        transform: none; 
        padding-right: 10px;
        padding-left: 10px;
       
      }

     
    }

    .button-position {
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    button {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      cursor: pointer;
    }

    button img {
      margin-left: 10px;
      width: 16px;
      height: 16px;
    }

    button:hover {
      border: 1px solid #3dcfb6;
      color: #3DCFB6;
      img {
        margin-left: 10px;
        width: 16px;
        height: 16px;
        transition: transform 0.3s ease; /* Smooth transition */
      }
  
      &:hover img {
        transform: translate(3px, -3px); 
      }
      
    }
  
   
  }

  .right {
    
    width: 40%;
    .close{
        display: flex;
        justify-content: right;
        padding-bottom: 40px;
        cursor: pointer;
       
            img {
                width: 48px;
                height: 48px;
                transition: transform 0.2s ease, filter 0.3s ease; 
              }
              
              &:hover img {
                transform: scale(1.2); 
                filter: invert(66%) sepia(15%) saturate(1534%) hue-rotate(120deg) brightness(101%) contrast(94%);
              }
    }
    .next-project{
        display: flex;
        align-items: center;
        justify-content: end;
        padding-top: 40px;
        color: #3dcfb6;
        &:hover  {
           cursor: pointer;
           color: white;
           
          } 
        &:hover img {
            transform: translate(3px);
           
          } 
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.75;
  z-index: 900;
}