<div class="main-content">
    <app-portfolio-header></app-portfolio-header>
    <div class="content">
        <div class="left-seide">
            <div class="arrow-container">
                <img src="assets/img/arrow.png" alt="Pfeil" class="arrow">
              </div>
            <div class="line-scroll"></div>
        </div>
        <div class="middle">
            <h3>Frontend Developer </h3>
            <h1>Batool Zamani</h1>
            <div class="button-position">
                <button><span>check my work</span></button>
                <button><span>contact me</span></button>
            </div>
        </div>
        
        <div class="right-seide">
            <div class="socila-Media-container">
                <a href="">Batool.Zamani.91y</a>
                <img src="assets/img/Github.png" alt="Github-icon">
                <img src="assets/img/linkedinIcon.png" alt="linkedinIcon">
                
              </div>
            <div class="line-right"></div>
        </div>
         
    </div>

</div>
