.main-content{
    // background-image: url('/assets/img/Background.png');
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: calc(100% - (20px + 30px));
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1c1c1c, #08463b); /* Adjusted colors for the dark-to-green effect */
    height: 100vh;
    margin: 0;
    color: #fff; /* Text color for better contrast */
    background-size: cover;
    background-position: center;
}
.content{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 218px;
    
}
.right-seide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100vh;
    margin-top: 200;
  
    a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Karla', sans-serif;
      transform: rotate(270deg); /* Dreht den Text um 270 Grad (auf X-Achse) */
      margin-bottom: 90px; /* Abstand zwischen dem Text und den Icons */
      font-size: 18px;
    }
  
    .socila-Media-container {
      display: flex;
      flex-direction: column;
      align-items: center; /* Zentriert die Icons und den Text horizontal */
      justify-content: center; /* Vertikale Zentrierung */
      gap: 10px; /* Abstand zwischen den Icons */
      
      img {
        width: 32px;
        height: 32px;
      }
    }
  
    .line-right {
      width: 1px;
      height: 186px;
      background-color: #ffffff;
      border-radius: 50px;
      margin-top: 90px; /* Abstand zwischen den Icons und der Linie */
      z-index: 1;
    }
  }
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    h3{
        font-family: 'Fira', monospace;
        font-weight:400;
        font-size: 40px;
    }
    
    h1{
        font-family: 'Karla', monospace;
        font-weight: 700;
        font-size: 128px;
    }
   
}
.button-position {
    display: flex;
    flex-direction: row;
    gap: 48px;

    button {
        border: 1px solid white;
        background-color: transparent;
        border-radius: 50px;
        color: white;
        font-family: 'Karla', monospace;
        font-size: 18px;
        padding: 15px;
        height: 48px;
        position: relative; 
        overflow: hidden;

        span {
            display: inline-block;
            transition: transform 0.3s ease;
            position: relative;
            transform: translateY(0);
        }

        &:hover span {
            transform: translateY(-5px);
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.left-seide {
    display: flex;
    position: relative; 
    justify-content: center; 
    align-items: center;
    width: 10%;

    .line-scroll {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1px;
        height: 245px;
        background-color: #3dcfb6;
        border-radius: 50px;
        position: relative; 
        z-index: 1; 
    }
}

.arrow-container {
    position: absolute;
    width: 30px;
    height: 48px;
    overflow: hidden;
    border: 1px solid #3dcfb6;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 250px;
  
    .arrow {
      position: absolute;
      top: 50;
      left: 50%;
      transform: translateX(-50%);
      animation: moveUpDown 1.5s ease-in-out infinite;
    }
    @keyframes moveUpDown {
      0% {
        top: 30%;
      }
      50% {
        top: 50%;
      }
      100% {
        top: 30%;
      }
    }
  }