<div class="main-content">
    <app-portfolio-header></app-portfolio-header>
    <div class="content">
        <div class="left-seide">
            <div class="arrow-container">
                <img src="assets/img/arrow.png" alt="Pfeil" class="arrow">
              </div>
            <div class="line-scroll"></div>
        </div>
        <div class="middle">
            <h3>Frontend Developer </h3>
            <h1>Batool<br> Zamani</h1>
            <div class="button-position">
                <button><span>{{'CHECK_MY_WORK'| translate }}</span></button>
                <button><span class="contact-me">{{'CONTACT_ME_BUTTON'| translate }}</span></button>
            </div>
        </div>
        
        <div class="right-seide">
            <div class="socila-Media-container">
                <a href="mailto:batool.zamani@gmail.com"><span>Batool.Zamani.91y</span></a>
                <div class="socila-Media">
                    <a href=""><img src="assets/img/GitHub.svg" alt="Github-icon"></a>
                    <a href=""><img src="assets/img/Linkedin.svg" alt="linkedinIcon"></a>
                </div>
                
              </div>
            <div class="line-right"></div>
        </div>
         
    </div>

</div>
