/* Globales Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  font-family: 'Karla', sans-serif;
  height: 100%;

}

/* Allgemeine Stile */
body {
  max-width: 1920px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: #292929;
}

/* Hauptinhalt */
.main-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #1c1c1c, #08463b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  min-height: 100vh; /* Verhindert vertikales Scrollen */
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

/* Linke Seite */
.left-seide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  max-width: 100px;
  overflow: hidden;
}

.line-scroll {
  width: 1px;
  height: 245px;
  background-color: #3dcfb6;
  border-radius: 50px;
}

.arrow-container {
  position: sticky;
  width: 30px;
  height: 48px;
  overflow: hidden;
  border: 1px solid #3dcfb6;
  border-radius: 50px;
  top: 0;
  
  transform: translateY(-50%);
  
}

.arrow {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUpDown 1.5s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% { top: 30%; }
  50% { top: 50%; }
  100% { top: 30%; }
}

/* Mittlerer Bereich */
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 80vw;
  padding: 0 20px;
}

.middle h3 {
  font-family: 'Fira', monospace;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
}

.middle h1 {
  font-family: 'Karla', monospace;
  font-weight: 700;
  font-size: 128px;
  text-align: center;
  line-height: 1.2;
}

/* Rechte Seite */
.right-seide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 10%;
  max-width: 100px;
  height: 100vh;
}

.socila-Media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0; /* Wichtig für Flexbox-Layouts */
}

.socila-Media-container a span {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transform: rotate(270deg);
  margin-bottom: 90px;
   
}

.socila-Media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.socila-Media a img {
  width: 32px;
  height: 32px;
}

.socila-Media a img:hover {
  filter: brightness(0) invert(1);
}

/* Trennlinie rechts */
.line-right {
  width: 1px;
  height: 186px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-top: 90px;
}

/* Button-Stile */
.button-position {
  display: flex;
  gap: 10px;
}

.button-position button {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50px;
  color: white;
  font-family: 'Karla', monospace;
  font-size: 18px;
  padding: 15px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-position button a {
  text-decoration: none;
  color: white;
}

.button-position button:hover {
  transform: translateY(-5px);
  background-color: #2b9479;
}

/* Responsive Design */
@media (min-width: 1200px) {
  .middle h1 br {
    display: none; /* Entfernt den <br> und zeigt alles in einer Zeile */
  }
}

@media (max-width: 1200px) {
  .middle h3 {
    font-size: 40px;
  }
}

@media (max-width: 760px) {
  .middle h3 {
    font-size: 30px;
  }
  .middle h1 {
    font-size: 90px;
  }
}

@media (max-width: 470px) {
  .middle h1 {
    font-size: 80px;
  }
  .button-position button:nth-child(2) {
    display: none;
  }
}

@media (max-width: 430px) {
  .middle h3 {
    font-size: 20px;
  }
  .middle h1 {
    font-size: 70px;
  }
}

@media (max-width: 380px) {
  .middle h3 {
    font-size: 20px;
  }
  .middle h1 {
    font-size: 60px;
  }
}