
<section>
    <div class="menu-content">
        <label class="toggle-switch">
            <input type="checkbox" id="language">
            <span class="slider raund"></span>
            <div>
                <span class="text en">EN</span>
                <span class="text de">DE</span>
            </div>
        </label>
        <a routerLink="about">About me</a>
        <a routerLink="skills">Skills</a>
        <a routerLink="Projects" fragment="projects-section">Projects</a>
    </div>
    <div class="logo-section">
        <img src="assets/img/mylogo.png" alt="">
    </div>
    <div class="responsive-menu">
        <div class="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
        
    </div>
    
</section>