section{
padding-left: 96px;
padding-right: 96px;
padding-top: 48px;
display: flex;
flex-direction: row;
justify-content: space-between;
.menu-content{
 display: flex;
 align-items: center;
 
}
a{
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Fira', monospace;
}
}
