.main-content{

    color: white;
    max-width: 1920px;
    line-height: 2;
    padding-left: 96px;
    padding-right: 96px;
    text-align: justify;
   
}
a{
    text-decoration: none;
    color: #3dcfb6;
}