@import '../../../styles.scss';

.title-box{
    font-size: 24px;
    color:$green;
    padding-bottom: 20px;
}
section{
    background-color: #1f2e2b;
    width: 90%;
    min-height: 562px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    .header-title{
        padding-top: 32px;
        padding-left: 32px;  
        padding-bottom: 40px;      
        color: $green;
        font-size: 64px;
        font-weight: 700;
        font-family: 'Fira', sans-serif;
    }
    .description{
        font-size: 18px;
        text-align: justify;
        padding-left: 32px;
        padding-right: 32px;
        font-family: 'Karla', sans-serif;
    }
    
}

@media (max-width:900px) {
    section {
       width: 90%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       align-content: center;
       margin-left: 20px;
       margin-right: 20px;
    
      
        
    }
    .title-box{
        font-size: 24px;
        color:$green;
        padding-bottom: 20px;
        padding-left: 42px;
    }
}

