
<div class="marquee-container">
    <div class="marquee">
      <span>•</span>
      <span>{{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }}</span>
      <span>•</span>
      <span>{{ 'FRONTEND_DEVELOPER' | translate }}</span>      
      <span>•</span>
      <span>{{ 'BASE_IN_GREVENBROICH' | translate }}</span>
      <span>•</span>
      
      <!-- Duplicate content for seamless scroll -->
      
      <span>{{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }}</span>
      <span>•</span>
      <span>{{ 'FRONTEND_DEVELOPER' | translate }}</span>
      <span>•</span>
      <span>{{ 'BASE_IN_GREVENBROICH' | translate }}</span>
      
      
    </div>
  </div>

