html, body {
    height: 100%;
    margin: 0; 
  
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
   
}

.main-content {
    flex: 1;
    color: white;
    max-width: 1920px;
    padding-left: 5%;
    padding-left: 96px;
    padding-right: 96px;
    text-align: justify;
    line-height: 2;
    
}

a {
    text-decoration: none;
    color: #3dcfb6;
}
@media (max-width: 900px) {
    .main-content {
        
        
        padding-left:76px;
        padding-top: 50px;
        
    }
}