<section>
    <div class="left">
        <span class="title">Contact me</span>
        <h2 class="title-work-together">Let's work <br> together</h2>
        <span class="sub-title">Got a problem to solve?</span>
        <p class="description">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.

            Need a Frontend developer?<a href="">Let’s talk!</a></p>
        



    </div>
    <div class="right">
        
        <div class="container">
            <form (ngSubmit)=" onSubmit(contactForm)" #contactForm="ngForm">
              <div class="line"></div>
              <label for="name">What's your name?</label>
              <input [(ngModel)]="contactData.name" type="text" id="fname" name="firstname" placeholder="Your name.." required="">
               
              <div class="line"></div>
              <label for="email">What's your email?</label>
              <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email.." required="" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
               
              <div class="line"></div>
              <label for="message">How can I help you?</label>
              <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Write something.." ></textarea>
              @if(!message.valid && message.touched){
                <span>Please enter a message</span>
              }
              <div class="line last-line"></div>
             
               
                <div class="custom-checkbox">
                  
                  <input id="confirm" type="checkbox" />
                  <label for="confirm">
                    <span class="legal-text">
                    I've read the
                    <a href="privacy">privacy policy</a>
                    and agree to the processing of my data as outlined.
                    </span>
                </label>
              </div>
              
              
                
             
              <div class="center">
                <button  type="submit" value="Submit">Say Hello ;)</button>
              </div>
              <br><br><br>
            </form>
          </div>
    </div>
</section>
