<section>
    <div class="left">
        <span class="title" id="contactMeScroll">{{'CONTACT_ME'| translate }}</span>
        <h2 class="title-work-together">{{'LETS_WORK'| translate }}<br>{{'TOGETHER'| translate }}</h2>
        <span class="sub-title">{{'CONTACT_ME_SUBTITLE'| translate }}</span>
        <p class="description">{{'CONTACT_ME_DESCRIPTION'| translate }}

         <a href="">{{'CONTACT_ME_LETS_TALK'| translate }}</a></p>
        



    </div>
    <div class="right">
        
        <div class="container">
            <form (ngSubmit)=" onSubmit(contactForm)" #contactForm="ngForm">
              <div class="line"></div>
              <label for="name">{{'CONTACT_ME_NAME'| translate }}</label>
              <input [(ngModel)]="contactData.name" type="text" id="fname" name="firstname" placeholder="{{'PLACEHOLDER_NAME'| translate }}" required="">
               
              <div class="line"></div>
              <label for="email">{{'CONTACT_ME_EMAIL'| translate }}</label>
              <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="{{'PLACEHOLDER_EMAIL'| translate }}" required="" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
               
              <div class="line"></div>
              <label for="message">{{'CONTACT_ME_MESSAGE'| translate }}</label>
              <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="{{'PLACEHOLDER_MESSAGE'| translate }}" ></textarea>
              @if(!message.valid && message.touched){
                <span>Please enter a message</span>
              }
              <div class="line last-line"></div>
             
               
                <div class="custom-checkbox">
                  
                  <input id="confirm" type="checkbox" />
                  <label for="confirm">
                    <span class="legal-text">
                      {{'LEGAL_TEXT_PART1'| translate }}
                    I've read the
                    <a href="privacy"> {{'PRIVACY_POLICY'| translate }}</a>
                    {{'LEGAL_TEXT_PART2'| translate }}
                    and agree to the processing of my data as outlined.
                    </span>
                </label>
              </div>
              
              
                
             
              <div class="center">
                <button  type="submit" value="Submit">{{'SAY_HELLO'| translate }}</button>
              </div>
              <br><br><br>
            </form>
          </div>
    </div>
</section>
