<section id="projectsSection">
    <div class="left-side" id="Projectsscroll">
        <div class="title-portfolio">
            Portfolio
        </div>
        <div class="header-title">
            {{'FEATURED_PROJECTS'| translate }}
        </div>
        <div class="description">
            {{'PORTFOLIO_DESCRIPTION'| translate }}            
        </div>
       
        <div class="projects">
            @for (project of projects; track $index) {
              <div 
                class="project-container" 
                (click)="openProject($index, project.title, project.imageurl, project.skills, project.description, project.githubLink)" 
                id="{{project.id}}">
                <div class="left">
                  <div class="title-container">
                    <span>{{project.title}}</span>
                    <div><img src="assets/img/arrow_outward.png" alt=""></div>
                  </div>
                  <div class="skill">
                    <ul>
                      <li>{{ project.skills.join(' | ') }}</li>
                    </ul>
                  </div>
                </div>
                <div class="right-side">
                  <div class="project-screen-container">
                    <img class="main-image" src="{{project.imageurl}}" alt="Main Image">
                  </div>
                </div>
              </div>
            }
          </div>
    </div>
    
   
    
</section>
<app-project-modal 
  [number]="number" 
  [title]="title" 
  [imageUrl]="imageUrl" 
  [projectModalValue]="modalOpen" 
  [skills]="skills" 
  [description]="description" 
  [githubLink]="githubLink" 
  [nextProject]="nextProject" 
  (toggle)="toggleModal()">
</app-project-modal>