
section{
    display: flex;
    flex-direction: row;
    padding-left: 136px;
    padding-right: 5%;
    .left-side{
        width: 100%;
        
        .title-portfolio{
            font-size:24px ;
            font-weight: 700;
            font-family: 'Karla', monospace;
            color: #3DCFB6;
        }
        .header-title{
            font-size:64px ;
            font-weight: 700;
            font-family: 'Fira', sans-serif;
            color: #3DCFB6;
            padding-top: 20px;
        }
        .description{
            width: 68%;
            font-size:18px ;
            font-weight: 400;
            font-family: 'Karla', monospace;
            color: white;
            padding-top: 41px;
           
            padding-bottom: 41px;
        }
        .projects{
            position: relative;
            width: 100%;
            .project-container:first-child {
                border-top: 1px solid #3DCFB6; /* Setzt die obere Grenze nur für das erste Kind */
              }
            .project-container {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #3DCFB6;
                justify-content: space-between;
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 30px;
                padding-bottom: 30px;
                width: 60%;
                height: 100px;
               
                &:hover {
                    cursor: pointer; 
                    transition: transform 0.2s ease-in-out;
                    
                   
                    background-color: rgba(61, 207, 182, 0.1); 
            
                  
                    .title-container img {
                        display: block;
                    }

                    .each-project{
                        opacity: 1; /* Neu hinzugefügt */
                        transform: translateY(0); /* Neu hinzugefügt */
                    }
                }
            
                .title-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
            
                    img {
                        padding-left: 10px;
                        padding-top: 10px;
                        display: none; 
                    }
                }
            
                .divider{
                    width: 1px;
                    height: 20px;
                    background-color: brown;
                }
                
                .left{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }

                .right-side {
                    width: 40%;
                    position: absolute;
                    right: 0px;

                
                    .project-screen-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        flex-direction: column;
                        top: -50px;
                
                        img {
                            width: 10%;
                            height: auto;
                        }
                
                      
                        .back-line {
                            z-index: 0;
                            width: 18vw;
                            height:auto;
                            position: absolute;
                            right: 130px; 
                           
                        }
                
                      
                        .main-image {
                            z-index: 1;
                            width: 18vw;
                            height: auto;
                            border-radius: 30px;
                            position: relative;
                            top: 0;
                            left: 20;
                        }
                    }
                }
                }

            }
            .project-container{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .project-container span{
                display: flex;
                font-family: "Fira", sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: white;
                align-items: center;
            }
            .project-container ul {
                display: flex;
                align-items: end;
                padding-left: 40px;
                
                
            }
            .project-container ul li{
                display: flex;
                align-items: end;
                font-family: 'Karla', monospace;
                font-size: 18px;
                font-weight: 400;
                color: white;
                list-style-type:none;
                
            }
           
        }
    }
    .each-project{
        opacity: 0; /* Neu hinzugefügt */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(10px); /* Neu hinzugefügt */
    }
    @media (max-width: 900px) {
        .right-side{
            display: none;
        }
        section .left-side .projects .project-container{
            width: 90%;
        }

    }
    @media (max-width: 600px) {
        section .left-side  .projects .project-container .left{
            flex-direction: column; 
            justify-content: space-between;
            margin-left: 0px;
    }
    section  .left-side  .project-container ul{
        
        padding-left: 0px;
        margin-top: 30px;
       
    }
}