
section {
    display: flex;
    flex-direction: row;
    padding: 0 5% 0 136px;
}

.left-side {
    width: 100%;
}

.title-portfolio {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Karla', monospace;
    color: #3DCFB6;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Fira Code', monospace;
    color: #3DCFB6;
    padding-top: 20px;
}

.description {
    width: 68%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Karla', monospace;
    color: white;
    padding: 41px 0;
}

.projects {
    position: relative;
    width: 100%;
}

.project-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 32px;
    width: 60%;
    // height: 100px;
    border-bottom: 1px solid #3DCFB6;
    transition: background-color 0.2s ease-in-out;

    &:first-child {
        border-top: 1px solid #3DCFB6;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(61, 207, 182, 0.1);
    }
    span{
        display: flex;
        font-family: 'Fira Code', monospace;
        font-size: 24px;
        font-weight: 700;
        color: white;
        align-items: center;
    }
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container img {
    padding: 10px 0 0 10px;
    display: none;
}

.project-container:hover .title-container img {
    display: block;
}

.project-container:hover .each-project {
    opacity: 1;
    transform: translateY(0);
}

.left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skill ul {
    display: flex;
    padding-left: 40px;
}

.skill li {
    font-family: 'Karla', monospace;
    font-size: 18px;
    font-weight: 400;
    color: white;
    list-style-type: none;
}

.right-side {
    width: 40%;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-screen-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100px;
}

.main-image {
    z-index: 1;
    width: 18vw;
    height: auto;
    border-radius: 30px;
}

.each-project {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(10px);
}

/* Responsive Styles */
@media (max-width: 1120px) {
    .right-side {
        display: none;
    }
    .project-container {
        width: 90%;
    }
   
}
@media (max-width: 900px) {
    section {
        
        padding-left: 36px;
      
    }
}
@media (max-width: 760px) {
   
    .header-title[_ngcontent-ng-c1613545059] {
        font-size: 44px;
    }
}
@media (max-width: 680px) {
    .project-container  span  {
       
        font-size: 18px;
        
    }

}
@media (max-width: 600px) {
    .left {
        flex-direction: column;
    }
    .skill ul {
        padding-left: 0;
        margin-top: 30px;
    }
}
