section{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    .left-side{
        width: 100%;
        
        .title-portfolio{
            font-size:24px ;
            font-weight: 700;
            font-family: 'Karla', monospace;
            color: #3DCFB6;
        }
        .header-title{
            font-size:64px ;
            font-weight: 700;
            font-family: 'Fira', sans-serif;
            color: #3DCFB6;
            padding-top: 20px;
        }
        .description{
            width: 64.5%;
            font-size:18px ;
            font-weight: 400;
            font-family: 'Karla', monospace;
            color: white;
            padding-top: 41px;
            border-bottom:1px solid #3DCFB6 ;
            padding-bottom: 41px;
        }
        .projects{
           
            .project-container {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #3DCFB6;
                justify-content: space-between;
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 30px;
                padding-bottom: 30px;
                position: relative;
                width: 60%;
               
                &:hover {
                    cursor: pointer; 
                    transition: transform 0.2s ease-in-out;
                    
                   
                    background-color: rgba(61, 207, 182, 0.1); 
            
                  
                    .title-container img {
                        display: block;
                    }

                    #join-project{
                        display: block;
                    }
                }
            
                .title-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
            
                    img {
                        padding-left: 10px;
                        padding-top: 10px;
                        display: none; 
                    }
                }
            
                .divider{
                    width: 1px;
                    height: 20px;
                    background-color: brown;
                }
                
                .left{
                    flex-direction: column;
                }

                .right-side {
                    flex-direction: column;
                
                    .project-screen-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        flex-direction: column;
                
                        img {
                            width: 40%;
                            height: auto;
                        }
                
                      
                        .back-line {
                            z-index: 0;
                            width: 18vw;
                            height:auto;
                            position: absolute;
                            right: 130px; 
                           
                        }
                
                      
                        .main-image {
                            z-index: 1;
                            width: 20vw;
                            height: auto;
                            border-radius: 30px;
                            position: relative;
                            top: 0;
                            left: 20;
                        }
                    }
                }

            }
            .project-container span{
                display: flex;
                font-family: "Fira", sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: white;
                align-items: center;
            }
            .project-container ul li{
                display: flex;
                align-items: center;
                font-family: 'Karla', monospace;
                font-size: 18px;
                font-weight: 400;
                color: white;
                list-style-type:none;
                
            }
           
        }
    }
    #join-project{
        display: none;
    }
}