<section class="feedback-slider">
  <div class="header-title">
    {{'FEEDBACK_HEADER'| translate }}
    What my colleagues say about me
  </div>

  <div class="slider-container" #sliderContainer>
    <div class="slider">
      <!-- Loop through feedbacks to create slides -->
      <div 
        *ngFor="let feedback of feedbacks; let i = index" 
        class="slide"
        [ngClass]="{
          'active': isActive(i),
          'prev': isPrev(i),
          'next': isNext(i)
        }"
      >
        <div class="feedback-text">
          <p>{{ feedback.text }}</p>
        </div>
        <div class="feedback-author">
          {{ feedback.author }} - {{ feedback.role }}
        </div>
      </div>
    </div>
  </div>

  <div class="dots">
    <button class="arrow left-arrow" (click)="prevSlide()">
      <img src="assets/img/Arrow-back.svg" alt="Back Arrow">
    </button>

    <!-- Dots for each slide -->
    <span
      *ngFor="let feedback of feedbacks; let i = index"
      class="dot"
      [ngClass]="{ 'active': currentSlide === i }"
      (click)="goToSlide(i)"
    ></span>

    <button class="arrow right-arrow" (click)="nextSlide()">
      <img src="assets/img/Arrow-forward.svg" alt="Forward Arrow">
    </button>
  </div>
</section>