$green:#3DCFB6;


/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html {
    scroll-behavior: smooth;
    
}
body {
    max-width: 1920px; /* Maximale Breite, damit kein horizontales Scrollen entsteht */
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Zentriert den Inhalt auf dem Bildschirm */
    background-image: linear-gradient(to top right, #1c1c1c 0 40%, 80%, #08463b);
    font-family: 'Fira Code', monospace;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
  }
  button:disabled {
    border-color: #ffffff80;
    color: #ffffff80;
    cursor: default
}
 /* Button-Position Container */
.button-position {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap; /* Passt die Buttons an kleinere Bildschirme an */

    button {
        border: 1px solid white;
        background-color: transparent;
        border-radius: 50px;
        color: white;
        font-family: 'Karla', monospace;
        font-size: 18px;
        padding: 15px;
        height: 48px;
        position: relative; 
        overflow: hidden;

        span {
            display: inline-block;
            transition: transform 0.3s ease;
            position: relative;
            transform: translateY(0);
        }
        a{
            display: inline-block;
            transition: transform 0.3s ease;
            position: relative;
            transform: translateY(0);
            text-decoration: none;
            color: white;
        }

        &:hover span {
            transform: translateY(-5px);
        }

        &:hover {
            cursor: pointer;
        }
        &:hover a {
            transform: translateY(-5px);
        }

        &:hover {
            cursor: pointer;
        }
    }
}
